.fond {
    display: flex;
    flex-direction: column;
    
    
    
}

.fond img {
    width: 33.3%;
    opacity: 90%;
    height: 350px;
    margin-bottom: -100px;
    
}

.fondimg {
    display: flex;
    flex: 1;
    
    
}
.titre {
    justify-content: center;
    position: relative;
   
}


