.fond {
    display: flex;
    flex-direction: column;
    
   
    
    
    
}


.test {
   
    background-color: rgb(0, 0, 0);
    padding-left: 40px;
    padding-right: 40px;
    


 
   
   
    
}

.titre {


    padding: 15px;

    font-size: 25px;
    color: white;
    background-color: red;
    margin: auto;
    padding: 18px;
    color: white;
    width: 70%;
    border-radius: 16px;
    margin-top: -120px;
    opacity: 85%;
    text-align: center;
    


}

.ban {
    margin: auto;
    width: 100%;
   
}


.fond img {
    width: 33.3%;
    border-radius: 20px;


  
    
   
    
   
    
}

.nature {
    height: 80%;
  
   
}

.fondimg {
    display: flex;
    flex: 1;
   
    border-radius: 60px;

    & :hover {
            opacity: 90%;
        }
   
    
    
}
.titre {
    justify-content: center;
    position: relative;
   
}


