.grid {

    width: 100%;
   
   
    


}


.tableau {
    display: flex;
    flex-direction: column;
}

.grille {
    width: 85%;
        height: 85%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 50px;
        place-items: center;
        cursor: pointer;
       justify-content: center;


    img {
        width: 100%;
        height: 100%;

        border-radius: 20px;



    }

       
}


.imglist {

    &:hover {
            box-shadow: 0 4px 12px rgb(0, 0, 0);
        }
    
        &:hover img {
            transform: scale(1.05);
        }
}



.twelve {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 160px;
    text-align: center;
    margin: auto;
    white-space: nowrap;
    padding-bottom: 13px;
    display: block;

}

.twelve h3::before {
    content: '';
    display: block;
    height: 3px;
    width: 75px;

    /* Ajoutez !important pour forcer l'application du style (à utiliser avec précaution) */
    background-color: #c50000 !important;
}

.twelve h3:after {
    background-color: #c50000;
    content: '';
    display: block;
    position: absolute;
    margin-left: 83px;
    height: 3px;
    width: 75px;
    margin-bottom: 5px;
}

.pastel {
    font-size: 34px;

}