.header {
    background-color:black;
    color:white;
    display: flex;
   
    
    
}

.logo {
    width:10%;
    filter: invert(1);
    display: flex;
    justify-content: flex-start;
    padding-left: -50px;
    


    
}

.clogo {
    width: 60%;
    filter: invert(1);
    padding: 10px;
    margin-left: -80px;
    

}


.art {
    margin: auto;
}

.nav {
    display: flex;
    gap:14px;
    
    font-size: 20px;
    align-items: center;

    
    
}

.bar {
    justify-content: end;
    padding-right: 40px;
    cursor: pointer;
    font-weight: 700;
   
}

a {
    text-decoration: none;
    color: white;

    &:hover {
            transform: scale(1.05);     }
}