.carousel {
   
   margin:auto;
   
 display: none;

    
    
}




.carousel .slide img {
    width: 100%;
    vertical-align: top;
    border: 0;
    border-radius: 12px;
    
}

.manga {
    height: 600px;
    object-fit: cover;
    object-fit: fill;
  

}


ul.thumbs.animated {
    display: none;
}