

.footer {
    background-color: black;
    margin-top: 40px;
    padding-bottom: 10px;
  
   
}

.footext {
    color:white;
}


.button {
    display: flex;
    flex-direction: column;
    color:white;
  
  
    border-radius: 30px;
    width: 25%;
    margin: auto;
    font-size: 16px;
    background:white;
    opacity:80% ;
        align-items: center;
        cursor: pointer;
        font-size: 25px;
        padding: 10px;
        
                
    
    
}

.mail {
    color: black;
    font-weight: 600;
}

.logofoot {
    width:5%;
    padding-top: 20px;
    filter: invert(1);
}

