

.footer {
    background-color: black;
    margin-top: 40px;
    padding-bottom: 10px;
  
   
}

.footext {
    color:white;
}


.button {
    display: flex;
    flex-direction: column;
    color:white;
  
  
    border-radius: 30px;
    width: 15%;
    margin: auto;
    font-size: 16px;
    background: rgb(51, 56, 59);
        background: linear-gradient(60deg,
                rgba(58, 62, 82, 1) 0%,
                rgba(96, 103, 136, 1) 100%);
        align-items: center;
        
                
    
    
}

.logofoot {
    width:5%;
    padding-top: 20px;
    filter: invert(1);
}

